<body>
    <aside>
        <div class="sidenav">
            <img src="assets/logo-apae.png" alt="logo-apae" id="logo-aside">
            <button  routerLink="/admin"   type="button" class="btn btn-dark" data-bs-toggle="button">ADMINISTRAÇÃO</button>
            <button  routerLink="/estoque" type="button" class="btn btn-dark" data-bs-toggle="button">ESTOQUE</button>
            <button  routerLink="/doacao"  type="button" class="btn btn-dark" data-bs-toggle="button">DOAÇÃO</button>
            <div class="line">
                <p id="name"><strong>Leticia Campos</strong></p>
                <p id="job">Nutricionista</p>
                <img (click)="abrirModal()" src="assets/sair.png" alt="" id="out">
                <img src="assets/Foto.png" alt="p" id="profile">
            </div>
        </div>
    </aside>

    <main>
        <div id="white">
            <div class="form-title" style=" color: #2A455A; margin-bottom: 1.3rem; font-size: 2.1rem; font-weight: bold; margin-right: 10px; margin-top: 25px;">CADASTRO DE DOADOR</div>
<div class="container-form">
    <form style="margin-bottom: 12rem;">
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="mb-2">
                    <label for="nomeDoador" class="form-label">Nome Doador / Empresa</label>
                    <input type="text" class="form-control" id="nomeDoador" placeholder="Digite o nome">
                </div>
                <div class="mb-3 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoPessoa" id="pessoaFisica" value="fisica">
                    <label class="form-check-label" for="pessoaFisica">Pessoa Física</label>
                </div>
                <div class="mb-3 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoPessoa" id="pessoaJuridica" value="juridica">
                    <label class="form-check-label" for="pessoaJuridica">Pessoa Jurídica</label>
                </div>
                <div class="mb-3">
                    <label for="cpfCnpj" class="form-label">CPF / CNPJ</label>
                    <input type="text" class="form-control" id="cpfCnpj" placeholder="Digite o CPF ou CNPJ">
                </div>
                <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="dataNascimento">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone">
                </div>
            </div>

        
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <div class="divider"></div>
            </div>

            <div class="col-md-5">
                <div class="mb-4">
                    <label for="endereco" class="form-label">Endereço Completo</label>
                    <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço">
                </div>
                <div class="mb-3">
                    <label for="cidadeEstado" class="form-label">Cidade / Estado</label>
                    <input type="text" class="form-control" id="cidadeEstado" placeholder="Digite a cidade e estado">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite o email">
                </div>
                <div class="mb-3">
                    <label for="lorem" class="form-label">Lorem</label>
                    <input type="text" class="form-control" id="lorem" placeholder="Digite algo">
                </div>
            </div>
        </div>
        <button type="submit" class="btn" id="save">SALVAR</button>
    </form>

          
        <div *ngIf="isModalOpen" class="modal show d-block" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <h5>Atenção, você está saindo da sua conta, deseja realmente continuar?</h5>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button routerLink="/" type="button" class="btn btn-success"  style="margin-right: 35px;">Sim, desejo sair</button>
                <button type="button" class="btn btn-danger" (click)="fecharModal()">Não, desejo ficar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
        </div>
    </main>
</body>