<body class="flex justify-end">
  <aside
    class="fixed top-0 left-0 w-fit h-100 bg-[#2A455A] flex flex-col items-center justify-center px-3 border-r-[1px] border-[#FFFFFF20] "
  >
    <img
      routerLink="/home"
      src="assets/logo-apae.png"
      alt="logo-apae"
      class="w-[95px] h-[133px] mb-4"
    />

    <button
      class="w-[190px] h-[50px] mt-6 bg-[#2A455A] border-none rounded-lg text-white text-lg hover:bg-[#d4d4d444] transition duration-300"
      routerLink="/admin"
    >
      ADMINISTRAÇÃO
    </button>

    <button
      class="w-[190px] h-[50px] mt-6 bg-[#2A455A] border-none rounded-lg text-white text-lg hover:bg-[#d4d4d444] transition duration-300"
      routerLink="/estoque"
    >
      ESTOQUE
    </button>

    <button
      class="w-[190px] h-[50px] mt-6 bg-[#2A455A] border-none rounded-lg text-white text-lg hover:bg-[#d4d4d444] transition duration-300"
      routerLink="/doacao"
    >
      DOAÇÃO
    </button>

    <div
      class="w-full border-t border-white mt-10 px-5 flex flex-col items-center"
    >
      <p class="text-white text-sm mt-5 font-bold">{{ name }}</p>
      <p class="text-white text-xs">Nutricionista</p>
      <div class="flex items-center gap-4 mt-4">
        <img
          src="assets/sair.png"
          alt="logout"
          class="w-7 h-7 cursor-pointer"
          (click)="abrirModal()"
        />
       
      </div>
    </div>
  </aside>

  <main class="flex justify-center items-center h-screen w-10/12 ">
    <div id="white" class="w-10/12 py-4 h-fit">
      <div
        class="form-title flex items-center text-center gap-3"
        style="
          color: #2a455a;
          margin-bottom: 1.3rem;
          font-size: 2.1rem;
          font-weight: bold;
        "
      >
        CADASTRO DE DOADOR
        <img
          routerLink="/adminuser"
          src="assets/exchange.png"
          alt=""
          class="w-7"
        />
      </div>

      <div class="w-full">
        <form
          [formGroup]="formulario"
          method="POST"
          class="formLogin flex flex-col justify-center items-center w-full"
        >
          <div class="row mb-3 w-8/12 justify-center">
            <div class="col-md-5">
              <div class="mb-2">
                <label for="nomeDoador" class="form-label"
                  >Nome Doador / Empresa</label
                >
                <input
                  formControlName="nome"
                  type="text"
                  class="form-control"
                  id="nomeDoador"
                  placeholder="Digite seu nome"
                />
              </div>
              <div class="flex">
                <div class="mb-3  w-fit">
                  <input
                    class="form-check-input"
                    type="radio"
                    formControlName="tipo_pessoa"
                    id="pessoaFisica"
                    value="fisica"
                  />
                  <label class="form-check-label" for="pessoaFisica"
                    >Pessoa Física</label
                  >
                </div>
                <div class="mb-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    formControlName="tipo_pessoa"
                    id="pessoaJuridica"
                    value="juridica"
                  />
                  <label class="form-check-label" for="pessoaJuridica"
                    >Pessoa Jurídica</label
                  >
                </div>
              </div>
              <div class="mb-3">
                <label for="cpfCnpj" class="form-label">CPF / CNPJ</label>
                <input
                  formControlName="cpf"
                  type="text"
                  class="form-control"
                  id="cpfCnpj"
                  placeholder="Digite seu CPF ou CNPJ"
                />
              </div>
              <div class="mb-3">
                <label for="dataNascimento" class="form-label"
                  >Data de Nascimento</label
                >
                <input
                  formControlName="data"
                  type="date"
                  class="form-control"
                  id="dataNascimento"
                />
              </div>
              <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input
                  formControlName="telefone"
                  type="tel"
                  class="form-control"
                  id="telefone"
                  placeholder="Digite seu telefone"
                />
              </div>
            </div>

            <div
              class="col-md-1 d-flex align-items-center justify-content-center"
            >
              <div class="divider"></div>
            </div>

            <div class="col-md-5" style="padding-top: 25px">
              <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                <input
                  formControlName="end"
                  type="text"
                  class="form-control"
                  id="endereco"
                  placeholder="Digite seu endereço"
                />
              </div>
              <div class="mb-3">
                <label for="cidadeEstado" class="form-label"
                  >Cidade / Estado</label
                >
                <input
                  formControlName="cidade"
                  type="text"
                  class="form-control"
                  id="cidadeEstado"
                  placeholder="Digite sua cidade e estado"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Digite seu email"
                />
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn"
            id="save"
            (click)="confirmarCadDonation()"
            [disabled]="formulario.invalid"
          >
            SALVAR
          </button>
        </form>

        <div
          *ngIf="isConfirmDonationModal"
          class="modal show d-block"
          tabindex="-1"
          role="dialog"
          style="background: rgba(0, 0, 0, 0.5)"
        >
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content text-center">
              <div class="modal-body">
                <h5 class="modal-title mb-3">Cadastrado salvo com sucesso!</h5>
                <img
                  src="assets/circle-check.png"
                  alt="Ícone de confirmação"
                  style="width: 60px; margin-top: 10px"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="isModalOpen"
          class="modal show d-block"
          tabindex="-1"
          role="dialog"
          style="background: rgba(0, 0, 0, 0.5)"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <h5>
                  Atenção, você está saindo da sua conta, deseja realmente
                  continuar?
                </h5>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button
                  routerLink="/"
                  type="button"
                  class="btn btn-success"
                  style="margin-right: 35px"
                >
                  Sim, desejo sair
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="fecharModal()"
                >
                  Não, desejo ficar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
