<body>
    <aside>
        <div class="sidenav">
            <img routerLink="/home" src="assets/logo-apae.png" alt="logo-apae" id="logo-aside">
            <button  routerLink="/admin"   type="button" class="btn btn-dark" data-bs-toggle="button">ADMINISTRAÇÃO</button>
            <button  routerLink="/estoque" type="button" class="btn btn-dark" data-bs-toggle="button">ESTOQUE</button>
            <button  routerLink="/doacao"  type="button" class="btn btn-dark" data-bs-toggle="button">DOAÇÃO</button>
            <div class="line">
                <p id="name"><strong>Leticia Campos</strong></p>
                <p id="job">Nutricionista</p>
                <img (click)="abrirModal()" src="assets/sair.png" alt="" id="out">
                <img src="assets/Foto.png" alt="p" id="profile">
            </div>
        </div>
    </aside>

    <main>
        <div id="white">
            <div class="form-title" style=" color: #2A455A; margin-bottom: 1.3rem; font-size: 2.1rem; font-weight: bold; margin-right: 10px; margin-top: 25px;">CADASTRO DE USUARIO
            <img  routerLink="/admin" src="assets/exchange.png" alt="" id="change">
            </div>
<div class="container-form">
    <form [formGroup]="formulario" method="POST" class="formLogin">
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="mb-3">
                    <label for="nomeDoador" class="form-label">Nome e Sobrenome</label>
                    <input formControlName="nome" type="text" class="form-control" id="nomeDoador" placeholder="Digite seu nome">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input  formControlName="senha" type="password" class="form-control" id="senha" placeholder="Crie sua senha">
                </div>
                <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                    <input formControlName="data" type="date" class="form-control" id="dataNascimento">
                </div>
            </div>

        
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <div class="divider"></div>
            </div>

        
            <div class="col-md-5" style="padding-top: 2px;">
                <div class="mb-3">
                   <label for="email" class="form-label">Email</label>
                   <input formControlName="email" type="email" class="form-control" id="email" placeholder="Digite seu email">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input formControlName="telefone" type="tel" class="form-control" id="telefone" placeholder="Digite seu telefone">
                </div>
                <div class="mb-3">
                    <label for="cpfCnpj" class="form-label">CPF</label>
                    <input formControlName="cpf"type="text" class="form-control" id="cpfCnpj" placeholder="Digite seu CPF">
                </div>
            </div>
        </div>
        <button type="submit" class="btn" id="save" (click)="confirmarUserDonation()" [disabled]="formulario.invalid">SALVAR</button>
    </form>


    <div *ngIf="isConfirmUserModal" class="modal show d-block"  tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content text-center">
            <div class="modal-body">
              <h5 class="modal-title mb-3">Cadastrado salvo com sucesso!</h5>
              <img src="assets/circle-check.png" alt="Ícone de confirmação" style="width: 60px; margin-top: 10px;">
            </div>
          </div>
        </div>
      </div>

        <div *ngIf="isModalOpen" class="modal show d-block" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <h5>Atenção, você está saindo da sua conta, deseja realmente continuar?</h5>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button routerLink="/" type="button" class="btn btn-success" style="margin-right: 35px;">Sim, desejo sair</button>
                <button type="button" class="btn btn-danger" (click)="fecharModal()">Não, desejo ficar</button>
              </div>
            </div>
          </div>
        </div>
         </div>
        </div>
    </main>
</body>