body{
    height: 100vh; 
    margin: 0; 
    background: linear-gradient(to top, rgb(234, 238, 250) 50%, rgb(162, 208, 252) 90% );
    
}

.page {
    width: 425px;
    height: 550px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 1px #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #F0F9FE
    
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #F0F9FE;
    border-radius: 7px;
    padding: 45px;
    padding-bottom: 90px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

img {
    width: 156px;
    height: 225px;
    margin: auto;
    transform: translate(0%, -10%)
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(-50%);
    color: #aaa;
}

.input-icon input {
    padding-left: 35px; 
}

.formLogin input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 13px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    border-radius: 10px;

}

#user{
    padding-left:10px;
}


.formLogin input:focus {
    border: 1px solid #2BB462;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
    
}

.formLogin ::placeholder{
    line-height: 40px;
    text-align: center;
}

.formLogin button {
    font-size: 16px;
    color: #000000;
    transition: all linear 160ms;
    font-weight: 700;
    margin: auto;
    padding-top: 25px;
    cursor: pointer;

}


.btn {
    background-color: #2BB462;
    color: #fff;
    font-weight: 700;
    transition: all linear 160ms;
    cursor: pointer;
    height: 43px;
    width: 130px;
    margin: auto;
    align-items: center;

    
}

.btn:hover {
    transform: scale(1.05);
    background-color: #1f8146;
}


#forget{
    text-align: center;
    color: #000000;
    font-weight: 700;
    margin-top: 23px;
}