<body>
  <aside class="fixed top-0 left-0 w-fit h-100 bg-[#2A455A] flex flex-col items-center justify-center px-3 border-r-[1px] border-[#FFFFFF20]">
    <img  routerLink="/home" src="assets/logo-apae.png" alt="logo-apae" class="w-[95px] h-[133px] mb-4">
    
    <button class="w-[190px] h-[50px] mt-6 bg-[#2A455A] border-none rounded-lg text-white text-lg hover:bg-[#d4d4d444] transition duration-300" routerLink="/admin">
      ADMINISTRAÇÃO
    </button>
    
    <button class="w-[190px] h-[50px] mt-6 bg-[#2A455A] border-none rounded-lg text-white text-lg hover:bg-[#d4d4d444] transition duration-300" routerLink="/estoque">
      ESTOQUE
    </button>
    
    <button class="w-[190px] h-[50px] mt-6 bg-[#2A455A] border-none rounded-lg text-white text-lg hover:bg-[#d4d4d444] transition duration-300" routerLink="/doacao">
      DOAÇÃO
    </button>
    
    <div class="w-full border-t border-white mt-10 px-5 flex flex-col items-center">
      <p class="text-white text-sm mt-5 font-bold">{{name}}</p>
      <p class="text-white text-xs">Nutricionista</p>
      <div class="flex items-center gap-4 mt-4">
        <img src="assets/sair.png" alt="logout" class="w-7 h-7 cursor-pointer" (click)="abrirModal()">
      </div>
    </div>
  </aside>

  
    <main>
      <div id="white">
        <h2 class="form-title" style=" color: #2A455A; font-size: 2.1rem; text-align: center;">DOAÇÃO</h2>
        <div class="form-container">
          <form [formGroup]="formulario" method="POST" class="formLogin">
            <div class="d-flex justify-content-between mb-3">
              <div class="imput group">
                <label for="donorId" class="form-label mb-0">ID do Doador</label>
                <input formControlName="id" type="text" class="form-control " id="donorId" placeholder="Digite o ID"/>
              </div>
              <div class="imput group mb-3">
                <label for="donationDate" class="form-label mb-0">Data da Doação</label >
                <input formControlName="data" type="date" class="form-control" id="donationDate" />
              </div>
            </div>
            <div class="imput group">
              <label for="description" class="form-label mb-1" >Descrição</label>
              <textarea formControlName="desc" class="form-control textarea-custom" id="description"  placeholder="Escreva uma descrição..."></textarea>
            </div>
            <button type="submit" class="btn btn-custom" id="button" (click)="confirmarDon()" [disabled]="formulario.invalid">SALVAR</button>
          </form>

          <div *ngIf="isConfirmDonModal" class="modal show d-block"  tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content text-center">
                <div class="modal-body">
                  <h5 class="modal-title mb-3">Doação salva com sucesso!</h5>
                  <img src="assets/circle-check.png" alt="Ícone de confirmação" style="width: 60px; margin-top: 10px;">
                </div>
              </div>
            </div>
          </div>

          
       
  
      <div *ngIf="isModalOpen" class="modal show d-block" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body text-center" style="margin-top: 20px;">
              <h5>Atenção, você está saindo da sua conta, deseja realmente continuar?</h5>
            </div>

            <div class="modal-footer d-flex justify-content-center" id="btn">
              <button  routerLink="/" type="button" class="btn btn-success" style="margin-right: 35px;">Sim, desejo sair</button>
              <button type="button" class="btn btn-danger" (click)="fecharModal()">Não, desejo ficar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </main>
  </body>